<?xml version="1.0" encoding="utf-8"?>
<packages>

    <!-- <package id="apackage" />
    <package id="anotherPackage" version="1.1" />
    <package id="chocolateytestpackage" version="0.1" source="somelocation" />
    <package id="alloptions" version="0.1.1" source="https://somewhere/api/v2/" installArguments="" packageParameters="" forceX86="false" allowMultipleVersions="false" ignoreDependencies="false" /> -->

    <package id="git.install"/>
    <package id="googlechrome"/>
    <package id="notepadplusplus.install"/>
    <package id="7zip.install"/>
    <package id="nodejs.install" />
    <package id="ccleaner"/>
    <package id="vscode" />
    <package id="microsoft-windows-terminal" />
    <package id="slack" />
    <package id="fiddler" />
    <package id="postman" />
    <package id="chocolateygui"/>
    <package id="adobereader"/>
</packages>